*{
  max-width: 1920px;
}
body{
  background-color: #748595;
  font-family: Battlefin;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;

}
li{
  text-decoration: none;
}

/* header */
header{
margin; 0 auto

}
.topcloud{
  position: relative;
  width: 100%;
}
.logo{
  position: absolute;
  top: 20px;;
  left: 30px;
  width:250px;
}
/* header end */

/* main-About start */
.about{
  float: right;
  /* background-color: #000000; */
}
/* main-left */
.about-left{
  float: left;
  width: 50%;
  /* background-color: #00ff00; */
}
.title1{
  font-size: 50px;
  margin: 0;
  border-bottom: 5px solid;
  padding-left: 41px;
}
.a{
  font-size: 100px;
}
.text p{
  line-height: 2;
  font-size: 23px;
  display: block;
}
.text{
  margin-left: 32px;
}
/* main-left end */

/* main-right */
.about-right{
  /* background-color: #ff0000; */
  float: right;
  text-align: center;
  width:50%;

}
.aboutimg{
width: 80%;
padding-top: 150px;
}
.tablet-aboutimg{
  display: none;
}
/* main-right end*/

.center{
  width: 100%;
  position: relative;
}

/* concept start */

.concept{
  float: left;
  padding-bottom: 200px;
  /* background-color: #000000; */
}
.title2{
  font-size: 50px;
  margin: 0;
  border-bottom: 5px solid;
  float: right;
  padding-right: 41px;
  width: 100%;
}
.c{
  font-size: 100px;
}
.text2{
  margin-right: 32px;
}
.text2 p{
  line-height: 2;
  font-size: 25px;
  display: block;
  float: right;
}
.concept-right{
  float: right;
  text-align: right;
  width: 50%;
  /* background-color: #00ff00; */
}
.concept-left{
  /* background-color: #ff0000; */
  float: left;
  text-align: center;
  width: 50%;
}
.conceptimg{
  width:80%;
  margin-top: 150px;
}
.tablet-conceptimg{
  display: none;

}
/* concept end */

/* shop info start */
.shopinfo{
  margin: 0;
}
.title3{
  font-size: 50px;
  margin: 0;
  border-bottom: 5px solid;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.footerimg{
  margin-top: 20px;
  width: 100%;
  margin-bottom: 0px;
}
.last{
  position: relative;
}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 32%;
  left: 50%;
  right:50%;

}
.button a{
  display: block;
}
.shop1{
  width: 500px;
}
.shop1:active{
  position: relative;
  top:6px;
  }

.shop2{
  padding-top: 70px;
  width: 500px;
}
.shop2:active{
  position: relative;
  top:6px;
  }

.insta{
  position: absolute;
  top:85%;
  left: 47%;
  width:5%;
}

@media screen and (max-width: 768px)/* 768px以下の場合(タブレット) */{

  .logo{
    width:150px;
  }
  .title1{
    padding-left: 20px;
  }
  .text p{
    ine-height: 2;
    font-size: 20px;
    display: block;
  }
  .text{
    margin-left: 20px;
  }
  .aboutimg{
    display: none;
  }
  .tablet-aboutimg{
    display: block;
    margin: 0 auto;
    width: 65%;
    margin-top: 100px;
  }
  .evergreen{
    width: 100%;
  }
  .necklace{
    width: 100%;
    margin-top: 20px;
  }
  .title2{
    padding-right: 20px;
  }
  .text2 p{
    line-height: 2;
    font-size: 20px;
    display: block;
    float: right;
  }
  .text2{
    margin-right: 20px;
  }
  .conceptimg{
    display: none
  }

  .tablet-conceptimg{
    display: block;
    margin: 0 auto;
    width: 75%;
    margin-top: 170px;
  }

  .fcws{
  width: 100%;
  }
  .flower{
    width: 80%;
    margin-top: 50px;
  }
  .concept{
    padding-bottom: 130px;
  }
  .button{
    top:37%;
  }
  .shop1{
    width: 400px;
  }
  .shop2{
    width: 400px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 480px)/* 480px以下の場合(スマホ) */{
  .logo{
    width:100px;
  }
  .about-left{
    margin: 0 auto;
    width: 100%;
  }
  .title1{
    font-size: 30px;
    border-bottom: 5px solid;
    padding-left: 41px;
    width: 50%;
    margin: 0 auto;
  }
  .a{
    font-size: 70px;
  }
  .text p{
    line-height: 2;
    font-size: 15px;
    display: block;
    text-align: center;
  }
  .text{
    margin-left: 32px;
    margin-right: 32px;
  }
  .about-right{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .tablet-aboutimg{
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;
  }
  .evergreen{
    width: 100%;
  }
  .necklace{
    width: 100%;
    margin-top: 20px;
  }










  .concept-right{
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
  }

  .title2{
    font-size: 30px;
    border-bottom: 5px solid;
    width: 50%;
    text-align: center;
    margin-right: 90px;
  }
  .c{
    font-size: 70px;
  }
  .text2 p{
    line-height: 2;
    font-size: 15px;
    display: block;
    text-align: center;
  }
  .text2{
    margin-left: 32px;
    margin-right: 32px;
  }
  .concept-left{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .tablet-conceptimg{
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;
  }
  .fcws{
    width: 100%;
  }
  .flower{
    width: 80%;
    margin-top: 20px;
  }







  .title3{
    font-size: 30px;
  }
  .shop1{
    width:200px;
  }
  .shop2{
    width:200px;
  }
}
